<!--头部信息-->
<div class="slds-p-vertical--x-small slds-grid slds-p-horizontal--large slds-shrink-none slds-theme--shade">
    <div class="slds-size--3-of-12">
        <search-component [showIcon]="false" [debounce]="2000"
                          [placeHolder]="placeholder"
                          (searchKey)="searchByCondition($event)"></search-component>
    </div>
    <div class="slds-size--2-of-12">
        <button type="button" nglButton="neutral" (click)="add()">新增</button>
    </div>
</div>
<!--角色列表-->
<div class="slds-scrollable">
    <table ngl-datatable [data]="roleList.rows" trackByKey="rank"
           class="slds-max-medium-table--stacked-horizontal">
        <ngl-datatable-column heading="ID" key="id"></ngl-datatable-column>
        <ngl-datatable-column heading="角色名称" key="roleName">
            <template nglDatatableCell let-value>
                <b>{{value}}</b>
            </template>
        </ngl-datatable-column>
        <ngl-datatable-column heading="创建时间" key="addTime">
            <template nglDatatableCell let-value>
                <span class="text-success">{{value|date:'yyyy-MM-dd HH:mm:ss'}}</span>
            </template>
        </ngl-datatable-column>
        <ngl-datatable-column heading="角色状态" key="state">
            <template nglDatatableCell let-value>
                <span class="text-info" *ngIf="value=='1'">启用</span>
                <span class="text-danger" *ngIf="value=='0'">禁用</span>
            </template>
        </ngl-datatable-column>
        <ngl-datatable-column heading="修改时间" key="updateTime">
            <template nglDatatableCell let-value>
                <span class="text-success">{{value|date:'yyyy-MM-dd HH:mm:ss'}}</span>
            </template>
        </ngl-datatable-column>
        <ngl-datatable-column heading="操作" key="">
            <template nglDatatableCell let-row="row">
                <button type="button" nglButton="neutral" (click)="roleDetail()">详情</button>
                <button class="slds-button slds-button--brand" (click)="grantAuthorization(row)">授权</button>
                <button class="slds-button slds-button--destructive" (click)="delete(row)">删除</button>
            </template>
        </ngl-datatable-column>
        <template nglNoRowsOverlay>暂无数据!</template>
    </table>
</div>

<!--底部分页-->
<div class="slds-p-vertical--x-small slds-grid slds-p-horizontal--large slds-shrink-none slds-theme--shade">
    <ngl-pagination [(page)]="pageOpts.page" [total]="roleList.total" [perPage]="roleList.size"
                    [limit]="pageOpts.limit"
                    boundaryNumbers="1" #pagination (pageChange)="pageChange($event)" previousText="上一页"
                    nextText="下一页"></ngl-pagination>
</div>


<!--授权模态-->
<ngl-modal header="授权模态" [(open)]="authorOpen">
    <div body class="slds-grid slds-picklist--draggable">
        <div class="slds-form-element">
            <span class="slds-form-element__label" >菜单列表</span>
            <div class="slds-picklist" role="application">
                <ul aria-describedby="option-drag-label" aria-multiselectable="true"
                    class="slds-picklist__options slds-picklist__options--multi" role="listbox" tabindex="0">
                    <li aria-selected="false" class="slds-picklist__item slds-is-draggable" draggable="true"
                        role="option" tabindex="-1">
                        <span class="slds-truncate">Option 2</span>
                    </li>
                    <li aria-selected="false" class="slds-picklist__item slds-is-draggable" draggable="true"
                        role="option" tabindex="-1">
                        <span class="slds-truncate">Option 3</span>
                    </li>
                    <li aria-selected="false" class="slds-picklist__item slds-is-draggable" draggable="true"
                        role="option" tabindex="-1">
                        <span class="slds-truncate">Option 6</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="slds-grid slds-grid--vertical">
            <button class="slds-button slds-button--icon-container" title="Up">
                <svg class="slds-button__icon" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#right"></use>
                </svg>
                <span class="slds-assistive-text">Move Selection to Second Category</span>
            </button>
            <button class="slds-button slds-button--icon-container" title="Down">
                <svg class="slds-button__icon" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#left"></use>
                </svg>
                <span class="slds-assistive-text">Move Selection to First Category</span>
            </button>
        </div>
        <div class="slds-form-element">
            <span class="slds-form-element__label">已授权菜单</span>
            <div class="slds-picklist" role="application">
                <ul aria-describedby="option-drag-label"  aria-multiselectable="true"
                    class="slds-picklist__options slds-picklist__options--multi" role="listbox" tabindex="0">
                    <li aria-selected="false" class="slds-picklist__item slds-is-draggable" draggable="true"
                        role="option" tabindex="-1">
                        <span class="slds-truncate">Option 5</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ngl-modal>


<!--prompt-->
<confirm-prompt-component [promptMessage]="promptMessage" [isOpen]="notificationOpen" (cancelFunction)="cancelPrompt()"
                          (confirmFunction)="confirm()"></confirm-prompt-component>
<!--Toast-->
<toast-component (notifyParam)="notifyParamFunction($event)" [toastType]="toastType" [toastMessage]="toastMessage"
                 [showAlert]="showAlert"></toast-component>