<div class="slds-form-element">
    <span class="slds-form-element__label" id="file-selector-id">图片</span>
    <div class="slds-form-element__control">
        <div class="slds-file-selector slds-file-selector--images">
            <div class="slds-file-selector__dropzone">
                <input class="slds-file-selector__input slds-assistive-text" accept="image/png" type="file"
                       id="file-upload-input-01" aria-describedby="file-selector-id"/>
                <label class="slds-file-selector__body" for="file-upload-input-01">
          <span class="slds-file-selector__button slds-button slds-button--neutral">
            <svg aria-hidden="true" class="slds-button__icon slds-button__icon--left">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#upload"></use>
            </svg>选择图片</span>
                </label>
            </div>
        </div>
    </div>
</div>