<!--头部信息-->
<div class="slds-p-vertical--x-small slds-grid slds-p-horizontal--large slds-shrink-none slds-theme--shade">
    <div class="slds-size--4-of-12">
        <search-component [showIcon]="false" [debounce]="2000"
                          [placeHolder]="placeholder"
                          (searchKey)="searchByCondition($event)"></search-component>
    </div>
    <div class="slds-size--2-of-12">
        <button type="button" nglButton="neutral" (click)="change()">新增</button>
    </div>
</div>
<!--数据列表-->
<table ngl-datatable [data]="jdbList.rows" trackByKey="rank"
       class="slds-max-medium-table--stacked-horizontal">
    <ngl-datatable-column heading="ID" key="id"></ngl-datatable-column>
    <ngl-datatable-column heading="名称" key="jobName">
        <template nglDatatableCell let-value>
            <b class="text-success">{{value}}</b>
        </template>
    </ngl-datatable-column>
    <ngl-datatable-column heading="状态" key="status">
        <template nglDatatableCell let-value>
            <span *ngIf="value=='0'" class="text-info">有效</span>
            <span *ngIf="value=='1'" class="text-danger">已失效</span>
        </template>
    </ngl-datatable-column>
    <ngl-datatable-column heading="创建时间" key="createTime">
        <template nglDatatableCell let-value>
            <span>{{value}}</span>
        </template>
    </ngl-datatable-column>
    <ngl-datatable-column heading="更新时间" key="updateTime">
        <template nglDatatableCell let-value>
            <span>{{value}}</span>
        </template>
    </ngl-datatable-column>
    <ngl-datatable-column heading="操作" key="">
        <template nglDatatableCell let-row="row">
            <ngl-badge type="success" (click)="jobDetail(row)">详情</ngl-badge>
            <ngl-badge type="info" (click)="editFun(row)">修改</ngl-badge>
            <ngl-badge type="error" (click)="deleteFunc(row)">删除</ngl-badge>
        </template>
    </ngl-datatable-column>
    <template nglNoRowsOverlay>暂无数据!</template>
</table>
<!--分页-->
<div class="slds-p-vertical--x-small slds-grid slds-p-horizontal--large slds-shrink-none slds-theme--shade">
    <ngl-pagination [(page)]="pageOpts.page" [total]="jdbList.total" [perPage]="jdbList.size"
                    [limit]="pageOpts.limit"
                    boundaryNumbers="1" #pagination (pageChange)="pageChange($event)" previousText="上一页"
                    nextText="下一页"></ngl-pagination>
</div>

<!--prompt-->
<confirm-prompt-component [promptMessage]="promptMessage" [isOpen]="notificationOpen" (cancelFunction)="cancelPrompt()"
                          (confirmFunction)="confirm()"></confirm-prompt-component>
<!--Toast-->
<toast-component (notifyParam)="notifyParamFunction($event)" [toastType]="toastType" [toastMessage]="toastMessage"
                 [showAlert]="showAlert"></toast-component>

<!--详情模态-->
<ngl-modal header="岗位详情" [(open)]="jobDetaiOpen">
    <div body>
        <div class="slds-grid slds-wrap">
            <div class="slds-size--5-of-12">
                <div class="slds-form-element">
                    <span class="slds-form-element__label">岗位名称</span>
                    <div class="slds-form-element__control slds-has-divider--bottom">
                        <span class="slds-form-element__static text-success">{{operaObj.jobName}}</span>
                    </div>
                </div>
            </div>
            <div class="slds-size--2-of-12"></div>
            <div class="slds-size--5-of-12">
                <div class="slds-form-element">
                    <span class="slds-form-element__label">岗位状态</span>
                    <div class="slds-form-element__control slds-has-divider--bottom">
                        <span class="slds-form-element__static text-success">{{operaObj.status}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="slds-grid slds-wrap">
            <div class="slds-size--5-of-12">
                <div class="slds-form-element">
                    <span class="slds-form-element__label">创建时间</span>
                    <div class="slds-form-element__control slds-has-divider--bottom">
                        <span class="slds-form-element__static text-success">{{operaObj.createTime}}</span>
                    </div>
                </div>
            </div>
            <div class="slds-size--2-of-12"></div>
            <div class="slds-size--5-of-12">
                <div class="slds-form-element">
                    <span class="slds-form-element__label">更新时间</span>
                    <div class="slds-form-element__control slds-has-divider--bottom">
                        <span class="slds-form-element__static text-success">{{operaObj.updateTime}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="slds-grid slds-wrap">
            <div class="slds-size--1-of-1">
                <div class="slds-form-element">
                    <span class="slds-form-element__label">岗位职责</span>
                    <div class="slds-form-element__control slds-has-divider--bottom">
                        <div class="slds-form-element__static slds-text-longform">
                            <p class="text-success">{{operaObj.jobDuty}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slds-grid slds-wrap">
            <div class="slds-size--1-of-1">
                <div class="slds-form-element">
                    <span class="slds-form-element__label">岗位技能</span>
                    <div class="slds-form-element__control slds-has-divider--bottom">
                        <div class="slds-form-element__static slds-text-longform">
                            <p class="text-success">{{operaObj.jobSkill}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slds-grid slds-wrap">
            <div class="slds-size--1-of-1">
                <div class="slds-form-element">
                    <span class="slds-form-element__label">岗位描述</span>
                    <div class="slds-form-element__control slds-has-divider--bottom">
                        <div class="slds-form-element__static slds-text-longform">
                            <p class="text-success">{{operaObj.jobDescription}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ngl-modal>