<div class="row" style="padding-top: 20px">
    <div class="col-md-4"></div>
    <div class="col-md-4">

        <search-component [debounce]="2000" [showIcon]="false" [placeHolder]="placeholder"
                          (searchKey)="searchByCondition($event)"></search-component>
    </div>
    <div class="col-md-4"></div>
</div>

<article class="slds-card">
    <div class="slds-card__body">
        <table ngl-datatable [data]="messageList.rows" trackByKey="rank" [loading]="loading" [(sort)]="sort"
               (sortChange)="onSort($event)"
               (onRowClick)="onRowClick($event)" class="slds-max-medium-table--stacked-horizontal">
            <ngl-datatable-column heading="ID" key="id" sortable></ngl-datatable-column>
            <ngl-datatable-column heading="手机号" key="mobile"></ngl-datatable-column>
            <ngl-datatable-column heading="短信类型" key="type"></ngl-datatable-column>
            <ngl-datatable-column heading="创建时间" key="gmtCreate"></ngl-datatable-column>
            <ngl-datatable-column heading="发送状态" key="smsStatus"></ngl-datatable-column>
            <ngl-datatable-column heading="错误编码" key="erroecode"></ngl-datatable-column>
            <ngl-datatable-column heading="错误信息" key="errormessage"></ngl-datatable-column>
            <ngl-datatable-column heading="创建时间" key="addTime">
            </ngl-datatable-column>
            <ngl-datatable-column heading="操作" key="">
                <template nglDatatableCell let-row="row">
                    <ngl-badge type="error" (click)="delConfirm()"><i class="fa fa-times"></i>删除</ngl-badge>
                </template>
            </ngl-datatable-column>
            <template nglNoRowsOverlay>暂无数据!</template>
        </table>
    </div>
    <div class="slds-card__footer">
        <ngl-pagination [(page)]="page" [total]="messageList.total" [perPage]="messageList.size" [limit]="pageOpts.limit"
                        boundaryNumbers="1" #pagination (pageChange)="pageChange($event)" previousText="上一页"
                        nextText="下一页"></ngl-pagination>
    </div>
</article>

