<div class="row">
    <div class="card">
        <div class="card-block">
            <div class="row">
                <div class="col-md-2" style="text-align: center;margin-top: 40px;"
                     *ngFor="let picture of pictureList.children">
                    <ngl-icon *ngIf="picture.hasChildren==true" icon="image" category="doctype" size="large"
                              class="large"></ngl-icon>
                    <br>
                    <img *ngIf="picture.hasChildren!=true" data-src="{{commonImgUrl}}/{{folder}}{{picture.name}}" alt=""
                         style="height: 80px;width: 80px"><br>
                    <span>{{picture.name}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <ngl-pagination [(page)]="page" [total]="pictureList.total" [perPage]="pictureList.size" [limit]="pageOpts.limit"
                    boundaryNumbers="1" #pagination (pageChange)="pageChange($event)"></ngl-pagination>
</div>
