<article class="slds-card">
    <div class="slds-card__header slds-grid">
        <header class="slds-media slds-media--center slds-has-flexi-truncate">
            <div class="col-md-6">
                <search-component [showIcon]="true" [debounce]="2000" [placeHolder]="placeholder"
                                  (searchKey)="searchByCondition($event)"></search-component>
            </div>
        </header>
    </div>
    <div class="slds-card__body">
        <table ngl-datatable [data]="sellerList.rows" trackByKey="rank" [loading]="loading" [(sort)]="sort"
               (sortChange)="onSort($event)" (onRowClick)="onRowClick($event)"
               class="slds-max-medium-table--stacked-horizontal">
            <ngl-datatable-column heading="ID" key="id" sortable></ngl-datatable-column>
            <ngl-datatable-column heading="名称" key="name" cellClass="slds-truncate"></ngl-datatable-column>
            <ngl-datatable-column heading="地址" key="address" cellClass="slds-truncate"></ngl-datatable-column>
            <ngl-datatable-column heading="店铺状态" key="isDelete" cellClass="slds-truncate"></ngl-datatable-column>
            <ngl-datatable-column heading="店铺类型" key="sellerType" cellClass="slds-truncate">
                <template nglDatatableCell let-row="row"><b>{{row.sellerType=='1'|threeElementExpression:'烟店;超市'}}</b>
                </template>
            </ngl-datatable-column>
            <ngl-datatable-column heading="电话" key="phone"></ngl-datatable-column>
            <ngl-datatable-column heading="操作" key="">
                <template nglDatatableCell let-row="row">
                    <ngl-badge type="error" (click)="show()"><i class="fa fa-times"></i>删除</ngl-badge>
                    <ngl-badge type="info" (click)="sellerDetailInfo(row)"><i class="fa fa-info"></i>详情</ngl-badge>
                </template>
            </ngl-datatable-column>
            <!-- No rows overlay -->
            <template nglNoRowsOverlay>暂无数据!</template>
        </table>
    </div>
    <div class="slds-card__footer">
        <ngl-pagination [(page)]="pageOpts.page" [total]="sellerList.total" [perPage]="sellerList.size"
                        [limit]="pageOpts.limit"
                        boundaryNumbers="1" #pagination (pageChange)="pageChange($event)" previousText="上一页"
                        nextText="下一页"></ngl-pagination>
    </div>
</article>
<div class="slds-notify_container">
    <ngl-notification *ngIf="showAlert" type="alert" severity="error" (nglNotificationClose)="onClose()"
                      timeout="5000" class="slds-theme--alert-texture">
        <h2>您的权限不足,请联系管理员~</h2>
    </ngl-notification>
</div>