<search-component (selectScope)="selectScope($event)" [debounce]="2000"  (searchKey)="searchByCondition($event)"></search-component>
<table ngl-datatable [data]="data" trackByKey="rank" [loading]="loading" [(sort)]="sort" (sortChange)="onSort($event)"
       (onRowClick)="onRowClick($event)" class="slds-max-medium-table--stacked-horizontal">
    <ngl-datatable-column heading="ID" key="rank" sortable></ngl-datatable-column>
    <ngl-datatable-column heading="名称" key="name" *ngIf="!hideName" cellClass="slds-truncate" sortable></ngl-datatable-column>
    <ngl-datatable-column heading="地址" key="surname" cellClass="slds-truncate" sortable>
        <template nglDatatableCell let-row="row"><b>{{row.surname}}</b></template>
    </ngl-datatable-column>
    <ngl-datatable-column heading="营业状态" key="surname" cellClass="slds-truncate" sortable>
        <template nglDatatableCell let-row="row"><b>{{row.surname}}</b></template>
    </ngl-datatable-column>
    <ngl-datatable-column heading="店铺状态" key="surname" cellClass="slds-truncate" sortable>
        <template nglDatatableCell let-row="row"><b>{{row.surname}}</b></template>
    </ngl-datatable-column>
    <ngl-datatable-column heading="店铺类型" key="surname" cellClass="slds-truncate" sortable>
        <template nglDatatableCell let-row="row"><b>{{row.surname}}</b></template>
    </ngl-datatable-column>
    <ngl-datatable-column heading="电话" key="points">
        <template nglDatatableCell let-value><ngl-badge>{{value | number}}</ngl-badge></template>
    </ngl-datatable-column>
    <ngl-datatable-column heading="操作" key="">
        <template nglDatatableCell let-row="row">
            <ngl-badge type="error" (click)="show()"><i class="fa fa-times"></i>删除</ngl-badge>
        </template>
    </ngl-datatable-column>
    <!-- No rows overlay -->
    <template nglNoRowsOverlay>暂无数据!</template>
</table>

<div class="slds-notify_container">
    <ngl-notification *ngIf="showAlert" type="alert" severity="error" (nglNotificationClose)="onClose($event)"
                      timeout="5000" class="slds-theme--alert-texture">
        <h2>您的权限不足,请联系管理员~</h2>
    </ngl-notification>
</div>