<article class="slds-card" [hidden]="showDetail">
  <div class="slds-card__header slds-grid">
    <header class="slds-media slds-media--center slds-has-flexi-truncate">
      <div class="slds-media__figure">
        <h4 class="slds-text-heading--large">
          <ngl-icon icon="task" category="standard"></ngl-icon>
          店铺列表
        </h4>
      </div>
    </header>
  </div>
  <div class="slds-card__body">
    <seller-list-component (sellerDetail)="switchTabs($event)" (showDetail)="showDetail=$event"></seller-list-component>
  </div>
</article>

<article class="slds-card" [hidden]="!showDetail">
  <div class="slds-card__header slds-grid">
    <header class="slds-media slds-media--center slds-has-flexi-truncate">
      <div class="slds-media__figure">
        <h4 class="slds-text-heading--large">
          <ngl-icon icon="note" category="standard"></ngl-icon>
          店铺详情
        </h4>
      </div>
    </header>
    <div class="slds-no-flex">
      <button class="slds-button slds-button--neutral" (click)="showDetail=false;">返回</button>
    </div>
  </div>
  <div class="slds-card__body">
    <seller-detail-component [detailFromSellerMain]="detailFromSellerList"></seller-detail-component>
  </div>
</article>
