<article class="slds-card slds-card--narrow slds-size--4-of-5" style="border:none">
  <div class="slds-card__body">
    <div class="slds-form--horizontal">
      <div class="slds-form-element">
        <label for="input_1" class="slds-form-element__label">商品类目:</label>
        <div class="slds-form-element__control">
          <input type="text" id="input_1" class="slds-input" placeholder="商品类目">
        </div>
      </div>
      <div class="slds-form-element">
        <label for="input_2" class="slds-form-element__label">商品名称:</label>
        <div class="slds-form-element__control">
          <input type="text" id="input_2" class="slds-input" placeholder="商品名称">
        </div>
      </div>
      <div class="slds-form-element">
        <label for="input_6" class="slds-form-element__label">货号:</label>
        <div class="slds-form-element__control">
          <input type="text" id="input_6" class="slds-input" placeholder="货号">
        </div>
      </div>
      <div class="slds-form-element">
        <label for="input_3" class="slds-form-element__label">商品主图:</label>
        <div class="slds-form-element__control">
          <input type="text" id="input_3" class="slds-input" placeholder="商品主图">
        </div>
      </div>
      <div class="slds-form-element">
        <label for="input_4" class="slds-form-element__label">协议价:</label>
        <div class="slds-form-element__control">
          <input type="text" id="input_4" class="slds-input" placeholder="协议价">
        </div>
      </div>
      <div class="slds-form-element">
        <label for="input_5" class="slds-form-element__label">销售价:</label>
        <div class="slds-form-element__control">
          <input type="text" id="input_5" class="slds-input" placeholder="销售价">
        </div>
      </div>
    </div>
  </div>
  <div class="slds-card__footer">
    <button class="slds-button slds-button--brand">确&nbsp;&nbsp;定</button>
  </div>
</article>