<!--头部搜索-->
<div class="slds-p-vertical--x-small slds-grid slds-p-horizontal--large slds-shrink-none slds-theme--shade">
    <div class="slds-size--2-of-12">
        <start-time-component [_date_format]="date_formate" (_startTime)="dateChange($event)" [_show]="showTime"></start-time-component>
    </div>
    <div class="slds-size--3-of-12">
        <search-component  [showIcon]="false" [debounce]="2000"
                           [placeHolder]="placeholder"
                           (searchKey)="searchByCondition($event)"></search-component>
    </div>
    <div class="slds-size--2-of-12">
        <button type="button" nglButton="neutral" (click)="exportRefundOrder()">导出退款单</button>
    </div>
</div>



<!--Toast-->
<toast-component (notifyParam)="notifyParamFunction($event)" [toastType]="toastType" [toastMessage]="toastMessage"
                 [showAlert]="showAlert"></toast-component>