<div class="slds-scrollable">
    <table ngl-datatable [data]="spikeArray" trackByKey="rank"
           class="slds-max-medium-table--stacked-horizontal">
        <!--<ngl-datatable-column heading="ID" key="id" sortable></ngl-datatable-column>-->
        <ngl-datatable-column heading="名称" key="title">
            <template nglDatatableCell let-value>
                <ngl-badge type="info">{{value}}</ngl-badge>
            </template>
        </ngl-datatable-column>
        <ngl-datatable-column heading="店铺ID" key="sellerId"></ngl-datatable-column>
        <ngl-datatable-column heading="店铺名称" key="sellerName">
            <template nglDatatableCell let-value>
                <b>{{value}}</b>
            </template>
        </ngl-datatable-column>
        <ngl-datatable-column heading="价格" key="salePrice">
            <template nglDatatableCell let-value>
                {{value/100|number:'1.2-2'}}
            </template>
        </ngl-datatable-column>
        <ngl-datatable-column heading="秒杀价" key="priceRole">
            <template nglDatatableCell let-value>
                <ngl-badge type="error">{{value/100|number:'2.1-2'}}</ngl-badge>
            </template>
        </ngl-datatable-column>
        <ngl-datatable-column heading="开始时间" key="startTime">
            <template nglDatatableCell let-value>
                <span class="text-success">{{value|date:'yyyy-MM-dd HH:mm:ss'}}</span>
            </template>
        </ngl-datatable-column>
        <ngl-datatable-column heading="结束时间" key="endTime">
            <template nglDatatableCell let-value>
                <span class="text-success">{{value|date:'yyyy-MM-dd HH:mm:ss'}}</span>
            </template>
        </ngl-datatable-column>
        <ngl-datatable-column heading="库存" key="defaultCount">
            <template nglDatatableCell let-value>
                <span class="text-danger">{{value}}</span>
            </template>
        </ngl-datatable-column>
        <ngl-datatable-column heading="剩余库存" key="totalCount">
            <template nglDatatableCell let-value>
                <span class="text-danger">{{value}}</span>
            </template>
        </ngl-datatable-column>
        <ngl-datatable-column heading="操作" key="">
            <template nglDatatableCell let-row="row">
                <button class="slds-button slds-button--brand" (click)="edit(row)">编辑</button>
            </template>
        </ngl-datatable-column>
        <template nglNoRowsOverlay>暂无数据!</template>
    </table>
</div>

<!--编辑模态-->
<ngl-modal [(open)]="opened">
    <div body>
        <div class="slds-grid slds-wrap">
            <div class="slds-size--1-of-1 slds-align--absolute-center">
                <img src="" alt="图片" style="width: 100%;height: 100px;">
            </div>
            <div class="slds-size--5-of-12">
                <ngl-form-element label="Input Label" class="slds-m-top--small">
                    <input nglFormControl type="text" [required]="required">
                </ngl-form-element>
            </div>
            <div class="slds-size--2-of-12"></div>
            <div class="slds-size--5-of-12">
                <ngl-form-element label="Input Label" class="slds-m-top--small">
                    <input nglFormControl type="text"  [required]="required">
                </ngl-form-element>
            </div>
        </div>
    </div>
</ngl-modal>
