<!--头部信息-->
<div class="slds-global-header slds-grid">
    <div class="slds-size--2-of-12">
        <start-time-component (_startTime)="receiveDate($event)"></start-time-component>
    </div>
</div>
<!--卡片列表-->
<div class="slds-grid slds-wrap">
    <div class="slds-size--2-of-12">
        <div class="widget-thumb-wrap">
            <h4>订单金额</h4>
            <div class="wrap-thumb">
                <i class="fa fa-cny fa-2x"></i>
                <span class="wrap-txt">{{financeCard.order_amount|number:'1.2-2'}}</span>
            </div>
        </div>
    </div>
    <div class="slds-size--2-of-12">
        <div class="widget-thumb-wrap">
            <h4>红包金额</h4>
            <div class="wrap-thumb">
                <i class="fa fa-cny fa-2x"></i>
                <span class="wrap-txt">{{financeCard.red_amount|number:'1.2-2'}}</span>
            </div>
        </div>
    </div>
    <div class="slds-size--2-of-12">
        <div class="widget-thumb-wrap">
            <h4>支付总金额</h4>
            <div class="wrap-thumb">
                <i class="fa fa-cny fa-2x"></i>
                <span class="wrap-txt">{{financeCard.seller_amount|number:'1.2-2'}}</span>
            </div>
        </div>
    </div>
    <div class="slds-size--2-of-12">
        <div class="widget-thumb-wrap">
            <h4>店铺订单支付</h4>
            <div class="wrap-thumb">
                <i class="fa fa-cny fa-2x"></i>
                <span class="wrap-txt">{{financeCard.auto_income|number:'1.2-2'}}</span>
            </div>
        </div>
    </div>
    <div class="slds-size--2-of-12">
        <div class="widget-thumb-wrap">
            <h4>奖励支付金额</h4>
            <div class="wrap-thumb">
                <i class="fa fa-cny fa-2x"></i>
                <span class="wrap-txt">{{financeCard.reward|number:'1.2-2'}}</span>
            </div>
        </div>
    </div>
    <div class="slds-size--2-of-12">
        <div class="widget-thumb-wrap">
            <h4>其它支付金额</h4>
            <div class="wrap-thumb">
                <i class="fa fa-cny fa-2x"></i>
                <span class="wrap-txt">{{financeCard.punish+financeCard.offset|number:'1.2-2'}}</span>
            </div>
        </div>
    </div>
</div>
<!--数据列表-->
<table ngl-datatable [data]="financeList.rows" trackByKey="rank"
       class="slds-max-medium-table--stacked-horizontal">
    <ngl-datatable-column heading="日期" key="date"></ngl-datatable-column>
    <ngl-datatable-column heading="订单金额" key="order_amount"></ngl-datatable-column>
    <ngl-datatable-column heading="红包金额" key="red_amount"></ngl-datatable-column>
    <ngl-datatable-column heading="支付总金额" key="seller_amount"></ngl-datatable-column>
    <ngl-datatable-column heading="店铺订单支付" key="auto_income"></ngl-datatable-column>
    <ngl-datatable-column heading="奖励支付金额" key="reward"></ngl-datatable-column>
    <ngl-datatable-column heading="惩罚金额" key="punish"></ngl-datatable-column>
    <ngl-datatable-column heading="调整金额" key="offset"></ngl-datatable-column>
    <ngl-datatable-column heading="操作" key="操作"></ngl-datatable-column>

    <!-- Loading overlay -->
    <template nglLoadingOverlay>
        <div class="slds-box slds-box--small slds-theme--shade slds-text-align--center">Loading...</div>
    </template>

    <!-- No rows overlay -->
    <template nglNoRowsOverlay>暂无数据</template>
</table>
<ngl-pagination [(page)]="pageOpts.page" [total]="financeList.total" [perPage]="financeList.size" [limit]="pageOpts.limit"
                boundaryNumbers="1" #pagination (pageChange)="pageChange($event)" previousText="上一页"
                nextText="下一页"></ngl-pagination>

<!--Toast提示-->
<toast-component (notifyParam)="notifyParamFunction($event)" [toastType]="toastType" [toastMessage]="toastMessage"
                 [showAlert]="showAlert"></toast-component>