<!--头部进度条-->
<recruit-header [wriInfoStatus]="wriInfoStatus" [relativeSellerInfoStatus]="relativeSellerInfoStatus" [wriPublishTimeStatus]="wriPublishTimeStatus"></recruit-header>
<!--店铺列表-->
<seller-list-component></seller-list-component>
<div class="slds-grid slds-wrap">
    <div class="slds-size--1-of-1 slds-align--absolute-center">
        <button class="slds-button slds-button--neutral" (click)="previousStep()">上一步</button>
        <a class="slds-button slds-button--brand" [routerLink]="['../../recruit-date/',recruitId]">下一步</a>
    </div>
</div>