<!--搜索-->
<search-component [showIcon]="false" [debounce]="2000" [placeHolder]="placeholder" (searchKey)="searchByCondition($event)"></search-component>
<!--数据列表-->
<div class="row">
    <table ngl-datatable [data]="bannerList.rows" trackByKey="rank" [loading]="loading" [(sort)]="sort"
           (sortChange)="onSort($event)"
           (onRowClick)="onRowClick($event)" class="slds-max-medium-table--stacked-horizontal">
        <ngl-datatable-column heading="名称" key="bannerName" sortable></ngl-datatable-column>
        <ngl-datatable-column heading="图片" key="imgUrl">
            <template nglDatatableCell let-value>
                <img [src]="commonImgUrl+value" width="100" height="100" class="img-thumbnail" alt="">
            </template>
        </ngl-datatable-column>
        <ngl-datatable-column heading="作用范围" key="scopeSeller">
            <template nglDatatableCell let-value>
                <span>{{value=='all'|threeElementExpression:'全部;部分'}}</span>
            </template>
        </ngl-datatable-column>
        <ngl-datatable-column heading="类型" key="bannerType">
            <template nglDatatableCell let-value>
                <span>{{value=='seller'|threeElementExpression:'商户端;用户端'}}</span>
            </template>
        </ngl-datatable-column>
        <ngl-datatable-column heading="所属区域" key="city"></ngl-datatable-column>
        <ngl-datatable-column heading="开始时间" key="startTime"></ngl-datatable-column>
        <ngl-datatable-column heading="结束时间" key="endTime"></ngl-datatable-column>
        <ngl-datatable-column heading="创建时间" key="addTime">
        </ngl-datatable-column>
        <ngl-datatable-column heading="操作" key="">
            <template nglDatatableCell let-row="row">
                <ngl-badge type="error" (click)="show()"><i class="fa fa-times"></i>删除</ngl-badge>
            </template>
        </ngl-datatable-column>
        <template nglNoRowsOverlay>暂无数据!</template>
    </table>
    <ngl-pagination [(page)]="page" [total]="bannerList.total" [perPage]="bannerList.size" [limit]="pageOpts.limit"
                    boundaryNumbers="1" #pagination (pageChange)="pageChange($event)" previousText="上一页" nextText="下一页"></ngl-pagination>
</div>

<!--提示信息-->
<div class="slds-notify_container">
    <ngl-notification *ngIf="showAlert" type="alert" severity="error" (nglNotificationClose)="onClose($event)"
                      timeout="5000" class="slds-theme--alert-texture">
        <h2>您的权限不足,请联系管理员~</h2>
    </ngl-notification>
</div>