<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <ngl-form-element label="名称" class="slds-m-top--small">
            <input nglFormControl type="text" [required]="required">
        </ngl-form-element>
        <ngl-form-element label="类型" class="slds-m-top--small">
            <select nglFormControl class="slds-select" [required]="required">
                <option>用户端</option>
                <option>商户端</option>
            </select>
        </ngl-form-element>

        <fieldset ngl-form-group label="商家范围" [required]="required"
                  class="slds-m-top--small">
            <div class="row">
                <div class="col-md-3">
                    <ngl-form-group-element label="全部商家"><input nglFormControl type="radio"/></ngl-form-group-element>
                </div>
                <div class="col-md-3">
                    <ngl-form-group-element label="部分商家"><input nglFormControl type="radio"/></ngl-form-group-element>
                </div>
            </div>
        </fieldset>
        <div class="row">
            <div class="col-md-6">
                <ngl-form-element label="开始时间"  class="slds-m-top--small">
                    <input nglFormControl type="text" [required]="required" (click)="showStartDate=!showStartDate"
                           [(ngModel)]="startDate">
                    <ngl-datepicker [monthNames]="monthNames" [dayNamesShort]="dayNamesShort" [(date)]="startDate"
                                    class="slds-box slds-box--x-small" *ngIf="showStartDate"
                                    style="width: 310px" (dateChange)="startDateChange($event)"></ngl-datepicker>
                </ngl-form-element>
            </div>
            <div class="col-md-6">
                <ngl-form-element label="结束时间"  class="slds-m-top--small">
                    <input nglFormControl type="text" [required]="required" [(ngModel)]="endDate"
                           (click)="showEndDate=!showEndDate">
                    <ngl-datepicker [(date)]="endDate" [monthNames]="monthNames" [dayNamesShort]="dayNamesShort"
                                    (dateChange)="endDateChange($event)"
                                    class="slds-box slds-box--x-small" style="width: 310px"
                                    *ngIf="showEndDate"></ngl-datepicker>
                </ngl-form-element>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img-upload-component></img-upload-component>
            </div>
        </div>
        <ngl-form-element class="slds-m-top--small">
            <input nglFormControl type="text" hidden>
            <button type="info" nglButton="neutral" (click)="saveBanner()">保存</button>
        </ngl-form-element>
    </div>
    <div class="col-md-2"></div>
</div>

<!--&lt;!&ndash;图片选择模态&ndash;&gt;-->
<!--<ngl-modal [header]="noHeader ? '' : '图片上传'" [(open)]="opened" [size]="size" [directional]="directional">-->
    <!--<div body>-->
        <!--<img-upload-component></img-upload-component>-->
    <!--</div>-->
    <!--<template ngl-modal-footer *ngIf="!noFooter">-->
        <!--<button class="slds-button slds-button&#45;&#45;neutral" (click)="cancel()">取消</button>-->
        <!--<button class="slds-button slds-button&#45;&#45;brand">确定</button>-->
    <!--</template>-->
<!--</ngl-modal>-->
