<div class="slds-grid slds-wrap">
    <div class="slds-size--4-of-12">
        <!--<seller-little-component (targetSeller)="targetFunction($event)"></seller-little-component>-->
        <!--活动数据列表-->
        <table ngl-datatable [data]="activityData.rows" trackByKey="rank"
               class="slds-max-medium-table--stacked-horizontal">
            <ngl-datatable-column heading="活动店铺" key="sellerName"></ngl-datatable-column>
            <ngl-datatable-column heading="操作" key="">
                <template nglDatatableCell let-row="row">
                    <div class="slds-button-group" role="group">
                        <button class="slds-button slds-button--neutral">编辑</button>
                        <button class="slds-button slds-button--neutral" (click)="delClick(row)">删除</button>
                        <button class="slds-button slds-button--neutral" (click)="detail(row)">详情</button>
                    </div>
                </template>
            </ngl-datatable-column>
            <template nglNoRowsOverlay>暂无数据!</template>
        </table>
        <div class="slds-p-vertical--x-small slds-grid slds-p-horizontal--large slds-shrink-none slds-theme--shade">
            <ngl-pagination [(page)]="pageOpts.page" [total]="activityData.total" [perPage]="pageOpts.perPage"
                            [limit]="pageOpts.limit"
                            boundaryNumbers="1" #pagination (pageChange)="pageChange($event)" previousText="上一页"
                            nextText="下一页"></ngl-pagination>
        </div>
    </div>
    <div class="slds-size--1-of-12"></div>
    <div class="slds-size--7-of-12">
        <div class="slds-p-vertical--x-small slds-grid slds-p-horizontal--large slds-shrink-none slds-theme--shade">
            <button class="slds-button slds-button--neutral" (click)="exportDataReport()">Excel导出</button>
            <button class="slds-button slds-button--neutral" (click)="exportDataReport()">Excel导入</button>
        </div>
        <div class="slds-scrollable">
            <table class="slds-table slds-table--bordered slds-table--cell-buffer">
                <thead>
                <tr class="slds-text-title--caps">
                    <th scope="col">
                        <div class="slds-truncate" title="Opportunity Name">活动时间</div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate" title="Account Name">活动地点</div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate" title="Close Date">商家</div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td data-label="Close Date">
                        <div class="slds-truncate" title="4/14/2015">{{activity.time}}</div>
                    </td>
                    <td data-label="Prospecting">
                        <div class="slds-truncate" title="Prospecting">{{activity.address}}</div>
                    </td>
                    <td data-label="Confidence">
                        <div class="slds-truncate" title="20%">{{activity.sellerName}}</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="slds-p-vertical--x-small slds-grid slds-p-horizontal--large slds-shrink-none slds-theme--shade">
            电影列表
        </div>
        <div class="slds-scrollable">
            <table ngl-datatable [data]="movieDataList" trackByKey="rank"
                   class="slds-max-medium-table--stacked-horizontal">
                <ngl-datatable-column heading="海报" key="sellerId">
                    <template nglDatatableCell let-value>
                        <ngl-avatar src="assets/images/avatar1.jpg" alt="avatar 1"></ngl-avatar>
                    </template>
                </ngl-datatable-column>
                <ngl-datatable-column heading="名称" key="name"></ngl-datatable-column>
                <ngl-datatable-column heading="导演" key="director"></ngl-datatable-column>
                <ngl-datatable-column heading="演员" key="actor"></ngl-datatable-column>
                <ngl-datatable-column heading="类型" key="type"></ngl-datatable-column>
                <ngl-datatable-column heading="统计" key="">
                    <template nglDatatableCell let-row="row">
                        <div class="slds-button-group" role="group">
                            <button class="slds-button slds-button--neutral">详情</button>
                        </div>
                    </template>
                </ngl-datatable-column>
                <template nglNoRowsOverlay>暂无数据!</template>
            </table>
        </div>
    </div>
</div>

<!--prompt-->
<confirm-prompt-component [promptMessage]="promptMessage" [isOpen]="notificationOpen" (cancelFunction)="cancelPrompt()"
                          (confirmFunction)="confirm()"></confirm-prompt-component>
<!--Toast-->
<toast-component (notifyParam)="notifyParamFunction($event)" [toastType]="toastType" [toastMessage]="toastMessage"
                 [showAlert]="showAlert"></toast-component>